* {
  font-family: 'Poiret One', cursive;
}

#nerd-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(33, 28, 28, 1);
}

#nerd-bootstrap-menu.navbar-default {
	font-family: 'Poiret One', cursive;
    background-color: rgba(230, 23, 23, 1);
    border-bottom-width: 3px;
    border-bottom-color:#000;
    margin-bottom:0px;
}
#nerd-bootstrap-menu.navbar-default .navbar-nav>li>a {
	font-size: 33px;
    color: rgba(247, 244, 244, 1);
    background-color: rgba(224, 18, 18, 1);
    transition:0.5s linear;
}

#nerd-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#nerd-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(245, 237, 237, 1);
    background-color: rgba(36, 4, 4, 1);
}

#nerd-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#nerd-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#nerd-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(250, 245, 245, 1);
    background-color: rgba(166, 59, 53, 1);
}

#nerd-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #a63b35;
}

#nerd-bootstrap-menu.navbar-default .navbar-toggle:hover,
#nerd-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #a63b35;
}

#nerd-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #a63b35;
}

#nerd-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#nerd-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #e61717;
}

.btn-circle {
  background-image:url("../img/magnif.png");
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.section-white {
  background-color: #fff;
  color: #555;
}

.foot {
	border-top:3px solid #000;
	width:100%;
	background-color:#E00000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.inn {
	background-color:#FFF;
	color:red;
	margin:0;
	padding:10px 20px;
	display:block;
}

.topic {
	background-color:red;
}

.text-content {
	color:white;
	margin:20px 20px;
}

.butn {
	text-align:center;
	text-decoration:none;
	background-color:#FFF;
	padding:10px;
	border-radius:15px;
	color:#A80000 ;
	transition:0.5s linear;
	width:200px;
}

.butn:hover{
	box-shadow: 9px 6px 91px 25px rgba(108,104,112,1);
}

.pic {
	width:450px;
	height:450px;
	border:1px solid #FFF;
	border-radius:100%;
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
	transition:0.5s linear;
}

.title {
	margin-top:50px;
}

.space {
	margin-top:10px;
}

.foot img {
	border:1px solid #D3D3D3;
	border-radius:100%;
	width:200px;
	transition:0.5s linear;
	margin:20px auto;
}

.foot img:hover {
	box-shadow: 9px 6px 91px 25px rgba(108,104,112,1);
}

.foot hr {
	width:90%;
	margin:0 auto;
	color:#FFF;
}

.foot p {
	margin-top:15px;
	text-align:center;
	width:100%;
	font-family: 'Poiret One', cursive;
	color:#FFF;
	font-size:20px;
}
